* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  list-style: none;
  transition: all 0.2s linear;
  text-decoration: none;
  font-weight: 200;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
html,
body {
  overflow-x: hidden;
  padding: 0 10px;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button,
input,
textarea {
  font-family: inherit;
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}
